#gameboard {
    width: 320px;
    height: 320px;
    background-color: rgb(176, 139, 139);
    display: flex;
    flex-wrap: wrap;
}

/* square class is a parent element */
.square {
    height: 40px;
    width: 40px;
    position: relative;
}

/* svg are children of the square class */
.square svg {
    height: 30px;
    width:  30px;;
    margin: 5px;
    position: relative;
    z-index: -9; /*to place the current svg behind the square to place a new svg in that current square...*/

}


path {
    position: relative;
    z-index: -10; /*to place the path behind the svg */

}

.piece {
    position: relative;
    z-index: 9; /*to place the current svg behind the square to place a new svg in that current square...*/

}


.beige {
    background-color: rgb(110, 110 98);
}

.brown {
    background-color: rgb(169, 43, 43);
}

/* 
-----------------------------------------------------------------------
svgs work with the fill property: 
This changes the svg files; the chess 
pieces from index 15 and below to the color black...
-----------------------------------------------------------------------
*/
.black {
    fill: rgb(28, 28, 28);
}

/* 
-----------------------------------------------------------------------
svgs work with the fill property: 
This changes the svg files; the chess 
pieces from index 48 and above to the color white...
-----------------------------------------------------------------------
*/
.white {
    fill: rgb(255, 255, 255);
}




